{{ define "main" }}

{{ $top_page := site.Data.cms.top_page }}

    {{ if $top_page.mainVisualUrl }}
        {{ $embedUrl := $top_page.mainVisualUrl }}
        <div class="main-visual">
            <iframe
                class="main-video"
                src="{{ $embedUrl }}"
                frameborder="0"
                allow="autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
            
            {{ if $top_page.mainConceptText }}
                <div class="main-visual-overlay">
                    <h1 class="main-catchcopy">{{ $top_page.mainConceptText | safeHTML }}</h1>
                </div>
            {{ end }}

        </div>
    {{ end }}
    
    {{ if $top_page.mainConceptText }}
        <section class="section">
            <div class="container">
                <h2 class="title">{{ $top_page.mainConceptText | safeHTML }}</h2>
                <div class="content">
                    <p>{{ $top_page.mainConceptText | safeHTML }}</p>
                </div>
            </div>
        </section>
    {{ end }}

{{ end }}